*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
}

h3{
    color: #E5383B;
    font-size: 40px;
}

p{
    color: #B1A7A6;
    font-size: 20px;
}

h3, p{
    line-height: 130%;
}

/* landing page for about */
#about-landing{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 100vh;
}

#about-header{
    width: 50%;
    text-align: center;
    color: #E5383B;
    font-size: 110px;
}

#about-side-container{
    width: 30%;
    padding-right: 100px;
}

/* 1st chunk of about */
#why-program{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* height: 100vh; */
}

#why-program-container{
    width: 80%;
    padding: 100px;
}

/* 2nd chunk of about */
#hobbies{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* height: 100vh; */
}

#hobbies-container{
    width: 80%;
    padding: 100px;
}