*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
}

h3{
    color: #E5383B;
    font-size: 40px;
}

p{
    color: #B1A7A6;
    font-size: 20px;
}

h3, p{
    line-height: 130%;
}

/* landing page for experience */
#exp-landing{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 100vh;
}

#exp-header{
    width: 50%;
    text-align: center;
    color: #E5383B;
    font-size: 110px;
}

#exp-python-card{
    width: 30%;
    padding-right: 100px;
}

#python-img{
    background: #21262A;
    box-sizing: border-box;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}

#python-img img{
    padding: 15px;
    border-radius: 24px;
    width: 575px;
    height: 425 px;
    justify-self: center;
}