*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

h3{
    color: #E5383B;
    font-size: 40px;
}

p{
    color: #B1A7A6;
    font-size: 20px;
}

h3, p{
    line-height: 130%;
}

/* landing page for experience */
#exp-landing{
    height: 100vh;
}

#exp-header{
    width: 50%;
    text-align: center;
    color: #E5383B;
    font-size: 110px;
}

#exp-python-container{
    width: 30%;
    padding-right: 100px;
}

#python-card{
    background: #21262A;
    box-sizing: border-box;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex, vertical;
    width: min-content;
}

#python-card img{
    padding: 15px;
    border-radius: 24px;
    width: 525px;
    height: 375 px;
}

#py-text-container{
    background: #2E3337;
    box-sizing: border-box;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

#py-text-container p{
    padding: 3% 3%;
}

/* github section */
#github{
    height: 101.5vh;
}

#github-container{
    width: 70%;
}

#github-card{
    background: #21262A;
    box-sizing: border-box;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex, vertical;
    width: min-content;
}

#github-card img{
    padding: 15px;
    border-radius: 24px;
    width: 1400px;
    height: 900 px;
}

#git-text-container{
    background: #2E3337;
    box-sizing: border-box;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

#git-text-container p{
    padding: 3% 3%;
}

/* information */
#information{
    height: 30vh;
}

#langs-container{
    width:100%;
}

#langs-group{
    background: #21262A;
    box-sizing: border-box;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: min-content;
}

.information-button{
    border-radius: 50px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    display: inline;
    /* justify content for centering items */
    justify-content: center;
    align-items: center;
    /* padding for top and left right; top bottom */
    padding: 12px 32px;
    font-weight: 550;
    font-size: large;
    color: #161A1D;
}

.information-button img{
    padding: 15px;
    border-radius: 24px;
    width: px;
    height: 900 px;
}