@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500,600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
}

html{
    background-color: #161A1D;
}

nav{
    width: 100%;
    background-color: #0B090A;
    text-align: center;
    display: flex;
    position: fixed;
    justify-content: center;
    font-weight: lighter;
    font-size: large;
}

.button{
    background-color: #E5383B;
    border-radius: 50px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* justify content for centering items */
    justify-content: center;
    align-items: center;
    /* padding for top and left right; top bottom */
    padding: 12px 32px;
    font-weight: 550;
    font-size: large;
    color: #161A1D;
}

.button2{
    border-radius: 50px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* justify content for centering items */
    justify-content: center;
    align-items: center;
    /* padding for top and left right; top bottom */
    color: #161A1D;
}

/* custom scrollbar */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: #E5383B;
}
::-webkit-scrollbar-thumb:hover {
    background: #B1A7A6;
}
::-webkit-scrollbar-track{
    background-color: #0B090A;

}